$darkgreen: #156922;
$darkgrey: #a4a2a4;
$lightgreen: #3e8e32;
$yellow: #fed005;
$orange: #f29219;
$lightgrey: #d3d1d3;
$lightgrey-overlay: rgba(211, 209, 211, 0.6);  
$fadedblack: #353234;
$white: #fffeff;

$baseSpacing: 15px;

$until-tablet: 768px;
$tablet-portrait: 900px;
$large-desktop: 1100px;
